@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-weight: 600;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    transform: all 0.3s ease;
    
}
.navbar.sticky{
    padding: 15px 0;
    background:  #36967c ;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fffF;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: #36967c;

}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;

}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
        color: #36967c;  
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu button styling */
.menu-btn{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;

}


/* home section style */

.home{
    
    background: linear-gradient(-45deg , #0a0a0a, #6c746f, #4b4141);
    text-align: center;
	background-size: 300% 300%;
	animation: gradient 15s ease infinite;
    height: 100vh;
    color: #fff;
    min-height: 400px;
    font-family: 'Ubuntu', sans-serif;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.home .home-content {
    margin: 70px 50px;

}

.home .home-content .text-1{
    font-size: 27px;

}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
    
}

.home .home-content .text-3{
    font-size: 27px;
    margin: 5px 0 ;
}
.home .home-content .text-3 .typing{
    color: #36967c;
}

.header-icons{
    
    font-size: 48px;
    text-align: center;
}

.header-icons a .fa{
    padding-top: 5px;
    display:inline-block;
    margin: 15px;
    font-size: 48px;
    color:rgb(16, 15, 17);
    transform: all 0.3s ease;
 }

 .header-icons a .fa:hover{
   color: #36967c;
    
 }

 .home .home-content a{
    display: inline-block;
    background: #36967c ;
    color: #fff;
    font-size: 27px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid  #36967c;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #fff;
    background: none;
}

/* All similar styling code  */
section{
    padding: 80px 0;
}

.about, .skills, .project{
    font-family: 'Poppings';
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom:  10px;
    font-family: "Ubuntu" ;  
}
section .title::before{
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 1px;
    border: 1px solid #36967c;
    transform: translateX(-50%);
    
}
section .title::after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 17px;
    color: #36967c;
    padding: 2px;
    background: #fff;
    transform: translateX(-50%);
    
}
/* about section */
.about, .skills{
    font-family: "Poppins" ;
}

.about .title::after{
    content: " Who am I ";
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
   width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover; 
    border-radius: 6px; 
}
.about .about-content .right{
    width: 55%;
 }
 .about .about-content .right .text{
    font-size: 25px;
    margin-bottom: 10px;
 }

 .about .about-content .right .text span{ 
    color: #36967c;
 }
 .about .about-content .right p{ 
    text-align: justify;
 }
 .about .about-content .right a{ 
    display: inline-block;
    background: #36967c ;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid  #36967c;
    transition: all 0.3s ease;
 }

 .about .about-content .right a:hover{
     color: #36967c;
     background: none;
 }


/* Skill section */

.skills .title::after{
    content: " What I Know";
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    
    
}
.skills, .skills-content .card{
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    cursor: pointer;
   
}
.skills, .skills-content .box img{
    transition: transform 1s; 
}

.skills .box:hover img{
   transform: scale(1.2);
}

.skills .skills-content .card image p{
   font-size: 15px;
   font-family: "Ubuntu" ; 
}


/* project section */

.project{
    background:  #6c7467;
	background-size: 200% 200%;
    font-family: 'Ubuntu', sans-serif;
}

.project .title::after{
    content: "Working Expereince";
}
 
.project .carousel .card {
    background: #fff ;
    border-radius: 6px ;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.project .carousel .card:hover {
    background: #36967c;
}
.project .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project .carousel .card:hover .box{
    transform: scale(1.05);
}

.project .carousel .card img{
    height: 150px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    object-fit: cover;
    align-items: center;
}

.project .carousel .card .text{
    font-size: 15px;
    margin: 10px 0 7px;
}
.project .carousel .card .text p{
    font-size: 15px;
    margin: 10px 0 7px;
    text-align: justify;
}

/* contact content */
.contact{
    font-family: "Ubuntu" ;
    
}

.contact .title::after{
    content: "Get in Touch";
}

.contact .contact-content .left p{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 20px;
    justify-content: center;
}

.contact .contact-content .row .info{
   margin-left: 10px;
  
}
.contact .contact-content .row i{
    font-size: 20px;
   
 }
 

/* Footer */

.footer{
    background: #36967c;
    padding: 20px 23px;
    justify-content: center;
}
.footer .content{
    text-align: center;
}
.footer span a{
  
    color: #fff;
}




 /* responsive media query start */
 @media(max-width : 1330px){
    .home .max-width{
        margin-left: 0px;
    }
 }

 @media(max-width : 1104px){

    .home{
        background-size: 200% 200%;
        height: 100vh;
    }
    .about .about-content .left img{
        height: 300;
        width: 300;
        object-fit: cover;
    }
    
    .about .about-content .right .text{
        font-size: 15px;
        margin-bottom: 7px;
     }

     
 }
 @media(max-width : 991px){
    .max-width{
        padding: 0 50px;
    } 
 }
 @media(max-width : 950px){
    .max-width{
        padding: 0 50px;
    } 
    .menu-btn{
        
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background:#36967c;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .menu li a:hover{
       color: #fff;
    }
    .home .home-content .text-2{
        font-size: 70px;
        
        
    }
    .home .home-content .text-3{
        font-size: 35px;
        
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
        
    }
    .about .about-content .column{
            width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
}
    .about .about-content .right {
        flex: 100%;
    }   
    .skills, .skills-content .card{
        margin-bottom: 20px;
    }

}

 @media(max-width : 690px){
    .max-width{
        padding: 0 23px;
    } 
    .home .home-content .text-2{
        font-size: 50px;    
    }
    .home .home-content .text-3{
        font-size: 27px;
        
    }
    .home .home-content a{
        font-size: 20px;
        padding: 9px 25px;
    }
    .skills, .skills-content .box{
        padding: 20px 20px;
     }
     .skills, .skills-content .card{
        width: 100%;
    }

    .project .carousel .card {
        padding: 20px 20px;
    }

    .project .carousel .card .box .text{
        padding: 5px;
        margin: 5px; 
     
     }
    .project .carousel .card img{
        height: 120px;
        width: 120px;
        
    }

    .project .carousel .card .text{
        font-size: 10px;
        margin: 7px 0 5px;
    
    }
    .project .carousel .card p{
        font-size: 7px;
        margin: 5px 0 7px;
    
    }
 
 }

 @media(max-width : 500px){
    
    .home .home-content .text-2{
        font-size: 45px;    
    }
    .home .home-content .text-3{
        font-size: 30px;
        
    }

    .skills, .skills-content .box{
       padding: 10px 10px;
    }

    .project .carousel .card .box .text{
        padding: 5px;
        margin: 5px; 
     
     }
    .project .carousel .card img{
        height: 70px;
        width: 100px;
                
    }

    @media(max-width : 500px){
    
        .home .home-content .text-2{
            font-size: 40px;    
        }
        .home .home-content .text-3{
            font-size: 20px;
            
        }
        .skills, .skills-content .box{
           padding: 5px 5px;
        }

        .project .carousel .card .box .text{
            padding: 3px;
            margin: 3px; 
         
         }
        .project .carousel .card img{
            height: 50px;
            width: 70px;
            
        }

        .contact .contact-content .left p{
            font-size: 15px;
           
        }

        .contact .contact-content .left i{
            font-size: 12px;
           
        }
    
    
    }
 }